<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#GoCoronaGo</title>
  </head>
  <link href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'starsocial/css/master.css' %}">
  <body class='bady'>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class='navbar-brand mynav' href="{% url 'home' %}">-Home-</a>
</nav>
  <h1 class='horror'>Wash Your Hands Often!</h1>
  <h1 class='horror'>#GoCoronaGo</h1>
  <div class='divi'>✋🏽</div><div class='divi'>🧼</div><div class='divi'>🤚🏻</div>

  </body>
</html>
