{% extends 'groups/group_base.html' %}
{% block pregroup %}

<h1>{{group.name}}</h1>

<div class="container">
  <p>Member Count: {{group.members.count}}</p>
</div>

<div class="content container">

  <div class="container center">
    {% if user in group.members.all %}
      <a href="{% url 'groups:leave' slug=group.slug %}"
          class='btn btn-lg btn-fill btn-warning'>
      <span class='glyphicon glyphicon-remove-circle'></span>Leave</a>

      <a href="{% url 'posts:create' %}"
          class='btn btn-lg btn-fill btn-warning'>
      <span class='glyphicon glyphicon-remove-circle'></span>Comment</a>
    {% else %}

    <a href="{% url 'groups:join' slug=group.slug %}"
        class='btn btn-lg btn-fill btn-success'>
      <span class="glyphicon glyphicon-ok-circle"></span>Join</a>
  </div>

  {% endif %}
<br><br>
</div>
{% endblock %}

{% block group_content %}
  {% if user in group.members.all %}
    <div class="col-md">
      {% if group.posts.count == 0 %}
        <h3>No posts in this group yet!</h3>
      {% else %}
        {% for post in group.posts.all %}
          {% include 'posts/_post.html' %}
        {% endfor %}

      {% endif %}
    </div>
  {%else%}
  <h3>👆 Join the Group to see the Posts 😊</h3>
  {%endif%}
{% endblock %}
